<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />

    <script src="/javascripts/main.js"></script>

  </head>
  <body>
    <div class="header">
        <div class="header_left"><span>PGC's Portfolio</span></div>
        <div class="header_right">
            <div class="header_sector">Home</div>
            <div class="header_sector">About</div>
            <div class="header_sector">Skills</div>
            <div class="header_sector">Project</div>
            <div class="header_sector">Blog</div>
            <div class="header_sector">Career</div>
        </div>
    </div>
    <div class="main main_title">
        <div class="main_back">
            <div class="main_back_div">
                <div class="main_back_border"></div>
                <div class="main_back_span">
                    <div class="main_p1">
                        <span>안녕하세요!</span>
                        <div class="main_white_p1"></div>
                    </div>
                    <div class="main_p2">
                        <span>시니어 개발자가 되기 위해 최선을 다하는</span>
                        <div class="main_white_p2"></div>
                    </div>
                    <div class="main_p3">
                        <span style="color:#0098fe; font-size:40px;">프론트엔드 웹 개발자 박기찬입니다</span>
                        <div class="main_white_p3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main about">
        <div class="content_head about_head">
            <img src="images/about.png">
            <span> ABOUT ME </span>
        </div>
        <div class="about_contents">
            <div class="about_content">
                <div class="about_content_img">
                    <img src="images/name.png">
                </div>
                <div class="about_content_text">
                    <span>이름</span>
                    <label>박기찬</label>
                </div>
            </div>
            <div class="about_content">
                <div class="about_content_img">
                    <img src="images/birth.png">
                </div>
                <div class="about_content_text">
                    <span>생년월일</span>
                    <label>1997.04.25</label>
                </div>
            </div>
            <div class="about_content">
                <div class="about_content_img">
                    <img src="images/call.png">
                </div>
                <div class="about_content_text">
                    <span>연락처</span>
                    <label>010 3099 4181</label>
                </div>
            </div>
            <div class="about_content">
                <div class="about_content_img">
                    <img src="images/address.png">
                </div>
                <div class="about_content_text">
                    <span>주소지</span>
                    <label>대구 북구</label>
                </div>
            </div>
            <div class="about_content">
                <div class="about_content_img">
                    <img src="images/email.png">
                </div>
                <div class="about_content_text">
                    <span>이메일</span>
                    <label>rlcks0425@naver.com</label>
                </div>
            </div>
            <div class="about_content">
                <div class="about_content_img">
                    <img src="images/study.png">
                </div>
                <div class="about_content_text">
                    <span>학력</span>
                    <label>영남대학교 컴퓨터공학</label>
                </div>
            </div>

        </div>
    </div>
    <div class="main skills">
        <div class="content_head skills_head">
            <img src="images/about.png">
            <span> SKILLS </span>
        </div>
        <div class="skills_body">
            <div class="skills_body_div">
                <div class="skills_body_head">
                    <span>Frontend</span>
                </div>
                <div class="skills_body_img">
                    <img src="images/html5.png" style="width:100px; height:100px;">
                    <img src="images/css3.png" style="width:100px; height:100px;">
                    <img src="images/js.png" style="width:80px; height:80px;">
                    <img src="images/jquary.png" style="width:188px; height:100px;">
                    <img src="images/react.png" style="width:200px; height:116px;">
                    <img src="images/ts.png" style="width:100px; height:100px;">
                </div>
            </div>
            <div class="skills_body_div_middle">
                <div class="skills_body_div">
                    <div class="skills_body_head">
                        <span>Enviroment</span>
                    </div>
                    <div class="skills_body_img">
                        <img src="images/node.png" style="width:118px; height:80px;">
                        <img src="images/express.png" style="width:200px; height:92px;">
                        <img src="images/mongo.png" style="width:150px; height:50px;">
                    </div>
                </div>
                <div class="skills_body_div">
                    <div class="skills_body_head">
                        <span>Version Control</span>
                    </div>
                    <div class="skills_body_img" style="gap:24px;">
                        <img src="images/git.png" style="width:118px; height:80px;">
                        <img src="images/github.png" style="width:160px; height:92px;">
                        <img src="images/sourcetree.png" style="width:150px; height:60px;">
                    </div>
                </div>
            </div>
            <div class="skills_body_div bottom">
                <div class="skills_body_head">
                    <span>Communication</span>
                </div>
                <div class="skills_body_img" style="gap:24px">
                    <img src="images/zeplin.png" style="width:160px; height:100px;">
                    <img src="images/figma.png" style="width:146px; height:76px;">
                </div>
            </div>
        </div>
    </div>



    <div class="main project">
        <div class="content_head project_head">
            <img src="images/about.png">
            <span> PROJECT </span>
        </div>
        <div class="project_body">
            <div class="project_body_div">
                <div class="project_title">
<!--                     <span>Gantt Chart</span> -->
                </div>
                <div class="project_img_div">
                    <div class="project_img_left">
                        <img src="images/gantt/gantt_03.png" style="width:100%; opacity:0.8;">
                    </div>
                    <div class="project_img_right">
<!--                         <img class="project_img_gif" src="images/gantt/view.gif" style="top:147px;"> -->
<!-- //                         <img class="project_img_gif" src="images/gantt/move.gif" style="top:371px; height:196px;"> -->
                    </div>
                </div>
                <div class="project_contents_div">
<!--                     <div>DHTMLX의 Gantt 라이브러리를 이용한 Gantt Chart</div> -->
<!--                     <div>기존에 없던 획기적인 기능의 Gantt Chart</div> -->
                    <div class="project_content_head">
                        <span>간트차트 중 가장 많은 기능을 보유한</span>
                        <div class=""></div>
                        <div class=""></div>
                    </div>
                    <p>
                    <div class="project_content_body"><span> 이 페이지는 PPM 기능의 총 일정을 한 눈에 확인할 수 있는 메인 페이지입니다. <br> 기본 Chart는 DHTML Library의 유료 라이센스를 구매했고 당시 자사 프로그램의 핵심적인 기능을
                               했습니다. <br> 멤버 별 프로젝트의 일정 확인 및 관리, 태스크 간 링크 연결, 마일스톤 생성 및 관리, Critical Path와 Delay 기능 등 <br> 기존의 간트차트가 존재하는 Asana, monday 업체의
                               간트차트보다 훨씬 많은 기능을 구현했습니다.</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="main career">
        <div class="content_head career_head">
            <img src="images/about.png">
            <span> CAREER </span>
        </div>
        <div class="career_body">
            <div class="career_body_left">
                <div class="career_body_img">
                    <img src="images/heaventree.png"/>
                </div>
            </div>
            <div class="career_body_right">
                <div class="career_body_intro">
                    <span class="career_company_name">(주) 헤븐트리</span>
                    <span class="career_date">2021.07.01 ~ 2022.12.19</span>
                    <span>
                        다양한 프로젝트 관리 방법론을 적용하여 프로젝트 관리 솔루션에서 포트폴리오까지
                        통합적인 관리를 할 수 있는 프로그램 '클로바인(Clovine)'을 개발하는 IT 기업입니다.
                        <p>
                        기본적으로 클로바인이라는 PPM 모델의 웹 개발을 담당했으며, Js와 node, express 및 mongoose를 통해
                        프론트엔드를 전담하였고 Rest 기반의 백엔드 구현을 맡았습니다.
                    </span>
                </div>
                <div class="career_body_content">
                    <div class="career_paragraph">
                        <div class="career_paragraph_title">
                            <span></span>
                        </div>
                        <span class="career_paragraph_date"></span>
                        <span class="career_paragraph_content"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="header"></div>
  </body>
  <footer>

  </footer>
</html>
